/*free to run all css in here for the site*/

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}
/* Rules for Tablets */
@media all and (max-width: 900px) {
    .body-wrapper {
        background-color: red;
    }
}


/* Rules for mobile */
@media all and (max-width: 650px) {
    .body-wrapper {
        background-color: lightgreen;
    }
}

    /* Hide/rearrange for smaller screens */
    @media screen and (max-width: 767px) {
        /* Hide captions */
        .carousel-caption {
            display: none;
        }
    }


 
